{% extends "base.html" %}

{% block title %}AY2YA DEV PROJECT{% endblock %}

{% block text %}

    <table align="center" bgcolor="white" border="0">

        <tr>
            <td width="1000">

                <p align="justify" content="text" style="content: normal"> <b>Участие в проектах:</b> </p>

                <ol>
              <li>Нефтегазовая отрасль;</li>
                 <li>Производство;</li>
                 <li>Дистрибуция;</li>
                 <li>Фармацевтика;</li>
                 <li>Металлургия;</li>
                 <li>Автомобилестроение.</li>
            </ol>




            </td>

        </tr>
    </table>

{% endblock %}

