[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==19.10b0"
codecov = "*"
coverage = "*"
isort = "*"
pudb = "*"

[packages]
django = "*"
tree = "*"
whitenoise = "*"
dj-database-url = "*"
dynaconf = {extras = ["yaml"],version = "*"}
psycopg2-binary = "*"
sentry-sdk = "*"
django-grappelli = "*"