{% extends "base.html" %}

{% load static %}

{% block title %}AY2YA DEV PROJECT{% endblock %}

{% block text %}

    <table align="center" bgcolor="white" border="0">

        <tr>
            <td width="1000">

                <p align="justify" content="text" style="content: normal">

                    <img src="/jpg/" class="leftimg"> <H2>Привет, меня зовут </H2> <H1>Юрий Яковлев</H1>
                <br>У меня 15 лет опыта в сфере ИТ, из которых более 13 лет связаны с внедрением продуктов SAP AG (Германия). Основная специализация включает знания по модулям в части сбыта, оперативной логистики и транспортировки, управления глобальной торговлей и отраслевого решения для нефтегазовой отрасли. Имею хорошее понимание межмодульной интеграции и достаточные знания для отладки ABAP программ, в части логистических выше модулей.

<br><br><br>11 проектов полного и частичного участия.


                </p>


            </td>

        </tr>
    </table>

{% endblock %}