{% extends "base.html" %}

{% load static %}

{% block title %}AY2YA DEV PROJECT{% endblock %}

{% block text %}

    <table align="center" bgcolor="white" border="0">

        <tr>
            <td width="1000">

                <p align="justify" content="text" style="content: normal"> <b>Участие в проектах:</b> </p>

                <ol>
                    <ul>Разработка ботов для телеграм:</ul>
                </ol>
                <center>
                <video width='250' height= '500' autoplay><source src="/video_bot/" type="video/mp4">
                    Shit, your browser does not support the video tag.
                </video>
                </center>
                 <ol>
                    <ul>Разработка игр на Python:</ul>
                </ol>
 
                <p align="justify" content="text" style="content: normal"> <b>А так же проекты в:</b> </p>
                <ol>
                    <ul>Нефтегазовой отрасли;</ul>
                    <ul>Производстве;</ul>
                     <ul>Дистрибуции;</ul>
                     <ul>Фармацевтике;</ul>
                     <ul>Металлургии;</ul>
                     <ul>Автомобилестроении.</ul>
                </ol>

            </td>

        </tr>
    </table>

{% endblock %}