{% extends "base.html" %}

{% load static %}

{% block title %}AY2YA DEV PROJECT{% endblock %}

{% block text %}

    <table align="center" bgcolor="white" border="0">

        <tr>
            <td width="1000">

                <p align="justify" content="text" style="content: normal"> <b>Участие в проектах:</b> </p>

                <ol>
                    <ul>Разработка ботов для телеграм:</ul>
                </ol>
                <center>
                <video width='250' height='500' autoplay><source src="/video_bot/" type="video/mp4">
                    Shit, your browser does not support the video tag.
                </video>
                </center>
                 <ol>
                    <ul>Разработка игр на Python:</ul>
                </ol>
                <center>
                <video width='350' height='250' autoplay><source src="/video_x0/" type="video/mp4">
                    Shit, your browser does not support the video tag.
                </video>
                </center>
            <br>
            </td>

        </tr>
    </table>

{% endblock %}