{% extends "base.html" %}

{% load static %}

{% block title %}AY2YA DEV PROJECT{% endblock %}

{% block text %}

 <table align="center" bgcolor="white" border="0">
        <tr>
            <td width="1000">
                <article>
                    <p>Моя основная работа - это внедрение информационных систем класса ERP</p>
                    <p>И если у Вас завалялись пара лишний "лимонов" - звоните срочно</p>
                    <p>Полное резюме<a href="/cv_pdf/" target="_blank">[PDF]</a></p>
                </article>
            </td>
        </tr>
         <tr>
             <td>
                <h2>Моя трудовая история:</h2>

                {% for project in object_list %}
                    <article>
                        <section>
                            <p>{{ project.comp | safe }}</p>
                            <p>С  {{ project.start }}
                                До  {{ project.end  }}
                               </p><br>
                            <p>{{ project.summary }}</p>
                            <p>{{ project.technos }}</p>
                        </section>
                    </article>
                {% endfor %}

            </td>
        </tr>
 </table>

{% endblock %}
