{% extends "base.html" %}

{% load static %}

{% block title %}AY2YA DEV PROJECT{% endblock %}

{% block text %}

 <table align="center" bgcolor="white" border="0">
        <tr>
            <td width="1000">
                <article>
                    <p>Моя основная работа - это внедрение информационных систем класса ERP</p>
                    <p>И если у Вас завалялись пара лишний "лимонов" - звоните срочно</p>
                    <p>Полное резюме<a href="/cv_pdf/" target="_blank">[PDF]</a></p>
                </article>
            </td>
        </tr>
         <tr>
             <td>
                <h2>Моя трудовая история:</h2>

                {% for project in object_list %}
                    <article>
                            <p>{{ project.comp | safe }}</p>
                            <p>С  {{ project.start }} до  {{ project.end  }}</p>
                            <p>{{ project.summary }}</p>

                            <h4>Обязанности:</h4>
                            {% if responsibilities.summary.count %}
                                    <ul>
                                        <li>{{ responsibilities.summary }}</li>
                                    </ul>
                            {% endif %}

                            <h4>Навыки:</h4>
                            {% if project.technos.count %}
                                <ul>
                                  <li>{{ project.technos }}</li>
                                </ul>
                            {% endif %}
                            <br>

                    </article>
                {% endfor %}

            </td>
        </tr>
 </table>

{% endblock %}
