{% extends "base.html" %}

{% load static %}

{% block title %}AY2YA DEV PROJECT{% endblock %}

{% block text %}

 <table align="center" bgcolor="white" border="0">
        <tr>
            <td width="1000">
                <article>
                    <p>Моя основная работа - это внедрение информационных систем класса ERP</p>
                    <p>И если у Вас завалялись пара лишний "лимонов" - звоните срочно</p>
                    <p>Полное резюме:</p>
                    <a href="/cv_pdf/" target="_blank" type="application/pdf">[PDF]</a>
                    <form method="link"><a href="/sentry-debug/" target="_blank" type="application/pdf"><input type="button" value="SENRY TEST"></a>
                    </form>
                </article>
            </td>
        </tr>
         <tr>
             <td>
                <h2>Трудовая история:</h2>

                 <article>
                     <section>
                     {% for project in object_list %}

                         <p>{{ project.comp | safe }}</p>
                            <p>С  {{ project.start }} до {{ project.end  }}</p>
                            <p>{{ project.summary }}</p>
                     </section>

                     <section>
                     <h4>Обязанности:</h4>
                                    <ul>
                                    {% for resp in project.responsibilities.all %}
                                        <li>{{ resp.summary }}</li>
                                    {% endfor %}
                                    </ul>
                     </section>

                     <section>
                            <h4>Навыки:</h4>
                            <ul>
                                {% for tech in project.technos.all %}
                                    <li>{{ tech.description }}</li>
                                {% endfor %}
                            </ul>
                         {% endfor %}
                     </section>
                    </article>



            <br>
            <br>
            <br>
            </td>
        </tr>
 </table>

{% endblock %}
